label {
  display: block;
  font-weight: bold;
  font-size: 0.85rem;
}

input,
textarea {
  font: inherit;
  padding: 0.35rem 1.25rem;
  border-radius: 4px;
  border: 1px solid #fbb618;
  outline: none;
}

button {
  font: inherit;
  cursor: pointer;
  border: none;
  padding: 0.35rem 1.25rem;
  border-radius: 4px;
  background-color: transparent;
}

button[type='button'] {
  color: #fbb618;
}

button[type='button']:hover,
button[type='button']:active {
  color: #fbb618;
}

button[type='submit'] {
  background-color: #fbb618;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  margin-left: 4px;
}

button[type='submit']:hover,
button[type='submit']:active {
  background-color: #fbb618;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}
